<% paths = [
  {id: 1, location: root_path, title: 'Home'},
  {id: 2, location: products_path, title: 'Browse'},
  {id: 3, location: about_path, title: 'About'},
  {id: 4, location: policy_path, title: 'Policy'},
  {id: 5, location: baskets_path, title: 'Basket'}
]%>
<% newsletter_paths = [1, 2, 5] %>
<% first_section = [1, 2, 3, 4] %>

<div class="py-20 mx-20 flex justify-between border-t border-gray-200">
  <div>
    <h1 class="text-4xl"><span class="text-sm">The</span>VaseLibrary.</h1>
    <div class="flex text-gray-700 mt-5 text-2xl justify-end space-x-5 pl-auto">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-linkedin"></i>
    </div>
  </div>

  <div class="w-3/5 pl-20 flex justify-between">
    <div class="text-xs text-gray-500 space-y-3">
      <h1 class="text-sm text-black mb-10">Quick Links</h1>
      <% paths.each do |path| %>
        <% if first_section.include?(path[:id])  %>
          <p><%= link_to path[:title], path[:location] %></p>
        <% end %>
      <% end %>
    </div>

    <div class="text-xs text-gray-500 space-y-3">
      <h1 class="text-sm text-black mb-10">About Us</h1>
      <p><%= link_to "Who We Are", root_path %></p>
      <p><%= link_to "What We Do", root_path %></p>
      <p><%= link_to "Our Aim", root_path %></p>
    </div>

    <div class="text-xs text-gray-500 space-y-3">
      <h1 class="text-sm text-black mb-10">About Us</h1>
      <p><%= link_to "Who We Are", root_path %></p>
      <p><%= link_to "What We Do", root_path %></p>
      <p><%= link_to "Our Aim", root_path %></p>
    </div>

    <div class="text-xs text-gray-500 space-y-3">
      <h1 class="text-sm text-black mb-10">About Us</h1>
      <p><%= link_to "Who We Are", root_path %></p>
      <p><%= link_to "What We Do", root_path %></p>
      <p><%= link_to "Our Aim", root_path %></p>
    </div>
  </div>
</div>

<div class="mx-20 border-t-2 border-gray-800 flex justify-around text-xs text-gray-500 py-10">
  <p>Copyright <i class="far fa-copyright"></i> theVaseLibrary Co</p>
</div>
