<nav class="p-4 pb-5 flex justify-between w-full fixed z-50 top-0 bg-white border-b border-gray-300" id="navbar">
  <%# left side %>
  <div class="flex items-end space-x-10">
    <%= link_to root_path do %>
      <h1 class="text-4xl font-semibold px-10 text-gray-900 -mb-1"><span class="text-xl"><i>The</i></span>VaseLibrary.</h1>
    <% end %>
    <%= link_to products_path do %>
      <h1 class="text-gray-500 hover:text-gray-800 text-sm uppercase <%= "text-gray-800 border-b border-gray-600" if current_page?(products_path) %>">Browse</h1>
    <% end %>
    <h1 class="text-gray-500 hover:text-gray-800 text-sm uppercase">About</h1>
    <h1 class="text-gray-500 hover:text-gray-800 text-sm uppercase">Policy</h1>
    <div class="bg-gray-100 pb-2 pt-3 pl-5 pr-16 -mb-1 text-xs text-gray-400 rounded flex space-x-5 items-start">
      <i class="fas fa-search text-gray-900"></i>
      <p>Search for a Product</p>
    </div>
  </div>

  <%# right side %>
  <div class="flex items-end space-x-10 pr-10">
    <%= link_to wishlists_path do %>
      <i class="far fa-heart text-gray-800 relative" id="navbarLikeButton"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fas fa-shopping-basket"></i>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to admin_path do %>
        <i class="fas fa-user"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="far fa-user relative" id="signIn"></i>
      <% end %>
    <% end %>
  </div>
</nav>

<div style="height: 72px;"></div>
