<div class="relative">
  <%= image_tag("vases.jpg", class: "w-full object-cover", style:"height: 85vh;") %>

  <div class="absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">
    <h1 class="text-white text-center uppercase -mb-8" style="font-size: 8rem;">Free</h1>
    <h1 class="text-white text-center uppercase -mt-8" style="font-size: 8rem;">Delivery</h1>
    <p class="text-white text-2xl border-b-2 border-white w-max mx-auto" style="text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);">Shop Now</p>
  </div>
</div>

<div class="flex justify-between mx-20 mt-20">
  <h1 class="text-3xl mb-10">Our Favourite Products</h1>
  <div class="space-x-4">
    <i class="fas fa-chevron-left bg-gray-100 text-gray-600 hover:text-gray-900 rounded-3xl p-3 px-4 previous_slide"></i>
    <i class="fas fa-chevron-right bg-gray-100 text-gray-600 hover:text-gray-900 rounded-3xl p-3 px-4 next_slide"></i>
  </div>
</div>
<div class="flex" id="carousel">
  <% @products.each do |product| %>
    <div class="mx-5 relative">
      <%= image_tag("#{product.image}", class: "w-80 h-80 object-contain") %>
      <div class="flex justify-between w-80">
        <h1><%= product.name %></h1>
        <p><%= product.price %></p>
      </div>
      <p class="text-xs text-gray-400"><%= product.description %></p>
      <i class="far fa-heart top-0 right-0 absolute cursor-pointer" id="heart"></i>
    </div>
  <% end %>
</div>

<div class="flex w-full mt-32">
  <div class="w-96 border-t border-gray-200 mx-10 py-10">
    <p class="text-3xl font-semibold">About theVasePlace</p>
    <p class="text-sm mt-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga soluta tempore repellendus similique esse fugit, velit nulla quas magnam impedit nesciunt! Sequi veniam optio laudantium, sint at earum aperiam esse.</p>
    <p class="mt-10 text-gray-500 border-b border-gray-200 w-max">Find out more!</p>
  </div>
  <%= image_tag("vase1.jpg", class:"object-cover", style:"width: 37rem; height: 35rem;") %>
  <%= image_tag("vase2.jpg", class:"object-cover", style:"width: 37rem; height: 35rem;") %>
</div>
