<%# Under Navbar categories search %>
<div class="bg-white border-b border-gray-100 w-full flex pt-8 space-x-10 pl-10 text-sm text-gray-500 pb-5 fixed z-10"
  id="categories" style="top: 60px; transition: top 0.4s;">
  <% @categories.each do |category| %>
    <p class="hover:text-black hover:scale-105 transform duration-75"><%= category %></p>
  <% end %>
</div>

<%# Page map %>
<div class="mt-24 ml-10 text-gray-500 text-xs flex space-x-5">
  <%= link_to "Home", root_path %>
  <i class="fas fa-chevron-right text-xxs"></i>
  <%= link_to "Browse", products_path %>
</div>

<%# All products %>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 md:gap-5 md:mx-10 lg:gap-10 lg:grid-cols-4 2xl:gap-20 2xl:w-max 2xl:mx-auto">
  <% @products.each do |product| %>
    <div class="relative w-72 md:w-full my-10" style="max-width: 20rem">
      <%= link_to product_path(product) do %>
        <%= image_tag("#{product.image}", class: "w-72 md:w-full h-80 object-contain", style:"max-width: 20rem") %>
        <div class="flex justify-between mx-auto" style="max-width: 20rem">
          <h1><%= product.name %></h1>
          <p>£<%= product.price %></p>
        </div>
        <p class="text-xs text-gray-400 mx-auto" style="max-width: 20rem"><%= product.description %></p>

        <% wishlist_exists = false %>
        <% if user_signed_in? %>
          <% current_user.wishlists.each do |list| %>
            <% wishlist_exists = list.product_id == product.id %>
            <% break if wishlist_exists == true %>
          <% end %>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to wishlists_update_path(product: product), remote: true do %>
            <% if wishlist_exists %>
              <i class="fas text-red-400 fa-heart absolute top-0 right-0" id="heart"></i>
            <% else %>
              <i class="far fa-heart absolute top-0 right-0" id="heart"></i>
            <% end %>
          <% end %>
        <% end %>

        <%= form_for @basket_item, remote: true do |f| %>
          <div class="absolute top-0 -right-10">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.hidden_field :quantity, value: 1, class:"w-16" %>
            <%= button_tag type: 'submit', class: "button my-button", id: "register-button" do %>
              <i class="fas fa-shopping-basket" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<p class="px-5 py-2 rounded-3xl border border-gray-500 text-gray-700 text-sm w-max mx-auto mb-20 mt-14 hover:bg-black hover:text-white">View more</p>

<%= render "shared/recommended" %>
