<!DOCTYPE html>
<html>
  <head>
    <title>TheVasePlace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>

    <!--  Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!--  Slick (carousel) -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
    <%= yield %>
    <div id="backToTop" class="px-4 py-3 hover:bg-opacity-100 z-50 text-black fixed bottom-10 right-10 text-2xl"><i class="fas fa-arrow-up"></i></div>
    <%= render 'shared/newsletter' %>
    <%= render "shared/footer" %>

    <a class="bg-primary fixed left-0 p-2 rounded-r shadow-2xl" style="bottom: 180px; background: #f0d0c1;"><i class="text-gray-900 fab fa-facebook-square"></i></a>
    <a class="bg-primary fixed left-0 mt-2 p-2 rounded-r shadow-2xl" style="bottom: 225px; background: #f0d0c1;"><i class="text-gray-900 fab fa-linkedin"></i></a>
  </body>
</html>
